{% extends "base.html" %}

{% block title %}África{% endblock %}

{% block content %}
<main class="home">
  <section class="seccionContinente">
    <div class="tarjetaContinente">
      <div class="mapaContinente">
        <img src="{{ url_for('static', filename='img/mapaafrica2.jpg') }}">
      </div>
      <div class="tituloContinente">
        <p class="textoTitulo">Continente Áfricano</p>
      </div>
      <p class="parrafoContinente">
        África es el tercer continente más extenso del mundo con una superficie de aproximadamente 30,3 millones de km²,
        territorio donde se asientan 54 países soberanos que albergan a más de 1.400 millones de habitantes.
        <br>
        Su demografía destaca por ser la más joven del planeta, con una mediana de edad de 19 años y una inmensa
        diversidad que supera las 2.000 lenguas. Geográficamente, el continente se caracteriza por el imponente desierto
        del Sahara al norte, la cuenca del río Nilo, las densas selvas de la región central y el Gran Valle del Rift al
        este, donde se encuentra el monte Kilimanjaro, su punto más alto; todo esto rodeado por los océanos Atlántico e
        Índico y el mar Mediterráneo.
      </p>
    </div>
    <div class="divisionRegion">
      <div class="tarjetaRegion">
        <h3 class="tituloRegion">África del Norte</h3>
        <ul class="listaPaises">
          <li>Argelia</li>
          <li>Egipto</li>
          <li>Libia</li>
          <li>Marruecos</li>
          <li>Mauritania</li>
          <li>República Árabe Saharaui Democrática</li>
          <li>Túnez</li>
        </ul>
      </div>

      <div class="tarjetaRegion">
        <h3 class="tituloRegion">África Occidental</h3>
        <ul class="listaPaises">
          <li>Benín</li>
          <li>Burkina Faso</li>
          <li>Cabo Verde</li>
          <li>Costa de Marfil</li>
          <li>Gambia</li>
          <li>Ghana</li>
          <li>Guinea</li>
          <li>Guinea-Bisáu</li>
          <li>Liberia</li>
          <li>Malí</li>
          <li>Níger</li>
          <li>Nigeria</li>
          <li>Senegal</li>
          <li>Sierra Leona</li>
          <li>Togo</li>
        </ul>
      </div>

      <div class="tarjetaRegion">
        <h3 class="tituloRegion">África Central</h3>
        <ul class="listaPaises">
          <li>Burundi</li>
          <li>Camerún</li>
          <li>Chad</li>
          <li>Gabón</li>
          <li>Guinea Ecuatorial</li>
          <li>República Centroafricana</li>
          <li>República del Congo</li>
          <li>República Democrática del Congo</li>
          <li>Ruanda</li>
          <li>Santo Tomé y Príncipe</li>
        </ul>
      </div>

      <div class="tarjetaRegion">
        <h3 class="tituloRegion">Africa Oriental</h3>
        <ul class="listaPaises">
          <li>Comoras</li>
          <li>Yibuti</li>
          <li>Eritrea</li>
          <li>Etiopía</li>
          <li>Kenia</li>
          <li>Madagascar</li>
          <li>Mauricio</li>
          <li>Seychelles</li>
          <li>Somalia</li>
          <li>Sudán del Sur</li>
          <li>Sudán</li>
          <li>Tanzania</li>
          <li>Uganda</li>
        </ul>
      </div>

      <div class="tarjetaRegion">
        <h3 class="tituloRegion">África Meridional</h3>
        <ul class="listaPaises">
          <li>Angola</li>
          <li>Botsuana</li>
          <li>Esuatini (Suazilandia)</li>
          <li>Lesoto</li>
          <li>Malaui</li>
          <li>Mozambique</li>
          <li>Namibia</li>
          <li>Sudáfrica</li>
          <li>Zambia</li>
        </ul>
      </div>

    </div>
  </section>

  <section class="informacionEnergia">
    <p class="tituloInformacion">Indicadores Continente</p>
    <div class="areaEnergia">
      <div class="tarjetaEnergia">
        <p class="tituloEnergia">Transición Energética Justa</p>
        <p class="parrafoEnergia">
          África defiende una transición que considere su baja responsabilidad histórica en las emisiones globales,
          priorizando el desarrollo económico junto a la descarbonización:Modelo JETP (Sudáfrica, Senegal y Nigeria):
          Sudáfrica lidera con su Plan de Implementación de la JET 2023-2027, que en 2026 ha movilizado más de 9.000
          millones de dólares para retirar plantas de carbón y proteger a los trabajadores en Mpumalanga mediante
          reconversión laboral.Alianza Sur-Sur: En la cumbre CELAC-África 2026, se firmó una declaración para fortalecer
          las "Plataformas País", mecanismos que permiten a los gobiernos africanos negociar financiamiento climático
          internacional bajo sus propias condiciones de justicia social.Movilidad Limpia: Ministros africanos han
          lanzado estrategias para transformar el sector transporte (responsable del 31% de las emisiones de CO2 en el
          continente) hacia vehículos eléctricos, fomentando la fabricación local para evitar la dependencia de
          importaciones.
        </p>
      </div>
      <div class="tarjetaEnergia">
        <p class="tituloEnergia">Democratización del Consumo Energético</p>
        <p class="parrafoEnergia">
          Dada la falta de infraestructura de red en muchas áreas, la democratización ocurre a través de la
          descentralización:Microrredes y Miniredes: Países como Kenia han logrado que más del 90% de su electricidad
          provenga de fuentes limpias (geotérmica y eólica), utilizando miniredes solares para llevar energía a
          comunidades rurales aisladas, mejorando el acceso y reduciendo costos.Participación Comunitaria: Se están
          impulsando iniciativas donde las comunidades locales no solo consumen, sino que poseen y gestionan sus
          infraestructuras solares, generando empleo local y fomentando la soberanía energética.Mercado Único Eléctrico:
          Se avanza en la interconectividad regional para que los países con excedentes renovables puedan compartirlos,
          democratizando el acceso a precios competitivos en todo el continente.
      </div>
      <div class="tarjetaEnergia">
        <p class="tituloEnergia">Transformación Productiva mediante Ciencia y Tecnología</p>
        <p class="parrafoEnergia">
          África apuesta por la tecnología para diversificar su economía y aumentar la productividad:Infraestructura
          Digital Crítica: Para 2026, el continente ha intensificado la inversión en centros de datos, redes 5G y
          parques industriales tecnológicos para posicionarse competitivamente en la economía global.Agroindustria
          Tecnológica: Mediante la estrategia STISA-2024 de la Unión Africana, se aplican innovaciones en biotecnología
          y riego inteligente para transformar la agricultura de subsistencia en un sector exportador de alto valor.Hubs
          de Innovación: Eventos como el Foro Tech Hubs 2025/2026 han consolidado redes entre ecosistemas tecnológicos
          africanos y europeos, facilitando la transferencia de conocimiento en áreas como IA aplicada a la salud y la
          energía
      </div>
    </div>
  </section>

</main>
{% endblock %}