{% extends "base.html" %}

{% block title %}América{% endblock %}

{% block content %}
<main class="home">
  <section class="seccionContinente">
    <div class="tarjetaContinente">
      <div class="mapaContinente">
        <img src="{{ url_for('static', filename='img/mapaamerica2.jpg') }}">
      </div>
      <div class="tituloContinente">
        <p class="textoTitulo">Continente Americano</p>
      </div>
      <p class="parrafoContinente">
        América es el segundo continente más grande del mundo, con una extensión aproximada de 42,5 millones de km² que
        se divide en tres grandes regiones: Norte, Centro y Sur. Alberga 35 países soberanos y una población de más de
        1.000 millones de personas, caracterizada por una enorme mezcla étnica debido a los procesos históricos de
        migración y colonización. Su geografía es sumamente variada y se extiende casi de polo a polo, destacando la
        gran cordillera de los Andes al sur, las Montañas Rocosas al norte, la inmensa cuenca del río Amazonas y el
        monte Aconcagua como su punto más alto. Demográficamente, el continente presenta contrastes extremos,
        conviviendo grandes potencias económicas con naciones en desarrollo, y predominando idiomas como el español, el
        inglés y el portugués.
      </p>
    </div>

    <div class="divisionRegion">
      <div class="tarjetaRegion">
        <h3 class="tituloRegion">América del Norte</h3>
        <ul>
          <li>Canadá</li>
          <li>Estados Unidos</li>
          <li>México</li>
        </ul>
      </div>

      <div class="tarjetaRegion">
        <h3 class="tituloRegion">América Central</h3>
        <ul class="listaPaises">
          <li>Belice</li>
          <li>Costa Rica</li>
          <li>El Salvador</li>
          <li>Guatemala</li>
          <li>Honsuras</li>
          <li>Nicaraguar</li>
          <li>Panamá</li>
        </ul>
      </div>

      <div class="tarjetaRegion">
        <h3 class="tituloRegion">El Caribe</h3>
        <ul class="listaPaises">
          <li>Belice</li>
          <li>Costa Rica</li>
          <li>El Salvador</li>
          <li>Guatemala</li>
          <li>Honsuras</li>
          <li>Nicaraguar</li>
          <li>Panamá</li>
        </ul>
      </div>

      <div class="tarjetaRegion">
        <h3 class="tituloRegion">América del Sur</h3>
        <ul class="listaPaises">
          <li>Argentina</li>
          <li>Bolivia</li>
          <li>Brasil</li>
          <li>Chile</li>
          <li>Colombia</li>
          <li>Ecuador</li>
          <li>Guyana</li>
          <li>Paraguay</li>
          <li>Perú</li>
          <li>Surinam</li>
          <li>Uruguay</li>
          <li>Venezuela</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="informacionEnergia">
    <p class="tituloInformacion">Indicadores Continente</p>
    <div class="areaEnergia">
      <div class="tarjetaEnergia">
        <p class="tituloEnergia">Transición Energética Justa</p>
        <p class="parrafoEnergia">
          Se ha pasado de la teoría a la implementación de mecanismos de seguimiento y metas concretas:Monitoreo
          Regional: Se ha consolidado el uso de herramientas como el monitor "Así va la transición energética justa en
          América Latina", que evalúa seis dimensiones críticas: expansión de renovables, eficiencia energética,
          eliminación de subsidios a fósiles, salida de combustibles fósiles, inversiones y justicia social.Acuerdos
          Multilaterales: En la Conferencia de Santa Marta (abril-mayo 2026), 57 países acordaron acelerar la transición
          lejos de los fósiles, estableciendo el primer Panel Científico de la Transición Energética para guiar las
          políticas con evidencia técnica.Hoja de Ruta en Colombia: El país ha publicado su versión final de la Hoja de
          Ruta para la Transición Energética Justa, enfocada en sustituir gradualmente los fósiles por Fuentes No
          Convencionales de Energía Renovable (FNECR).
        </p>
      </div>
      <div class="tarjetaEnergia">
        <p class="tituloEnergia">Democratización del Consumo Energético</p>
        <p class="parrafoEnergia">
          Este eje busca transformar al ciudadano de un consumidor pasivo a un actor central (prosumidor):Comunidades
          Energéticas: Gobiernos como el de Colombia han lanzado convocatorias masivas (como la Convocatoria 49 de
          Minciencias) que financian proyectos donde las comunidades locales gestionan y producen su propia
          energía.Reformas para la Accesibilidad: En México, la reforma energética de 2025 se centra en garantizar
          electricidad a precios accesibles y soberanía energética mediante el fortalecimiento de empresas
          públicas.Digitalización y Redes Inteligentes: Se están implementando innovaciones en distribución que incluyen
          redes inteligentes y almacenamiento avanzado para facilitar que los hogares inyecten excedentes de energía a
          la red.
        </p>
      </div>
      <div class="tarjetaEnergia">
        <p class="tituloEnergia">Transformación Productiva mediante Ciencia y Tecnología</p>
        <p class="parrafoEnergia">
          La región busca reindustrializarse para no depender exclusivamente de la exportación de materias
          primas:Financiamiento de I+D: Iniciativas como ColombIA Inteligente 2026 destinan fondos significativos a
          proyectos de Inteligencia Artificial y Tecnologías Cuánticas aplicadas a resolver problemas territoriales y
          ambientales.Soberanía Agroalimentaria: El programa Fontagro 2026 financia consorcios regionales para
          desarrollar tecnologías agroalimentarias con baja huella ambiental y mayor productividad.Cooperación
          Científica: Instituciones como el IICA y el programa CYTED están impulsando la transferencia tecnológica para
          valorizar la agricultura tropical y acelerar su transformación productiva.
        </p>
      </div>
    </div>
  </section>



</main>
{% endblock %}