{% extends "base.html" %}

{% block title %}Asia{% endblock %}

{% block content %}
<main class="home">
  <section class="seccionContinente">
    <div class="tarjetaContinente">
      <div class="tituloContinente">
        <p class="textoTitulo">Continente Asiático</p>
      </div>
      <p class="parrafoContinente">
        Asia destaca como el continente más grande y poblado de la Tierra, cubriendo cerca de 44,5 millones de km² y
        albergando a más de 4.700 millones de personas, lo que representa el 60% de la humanidad distribuida en 49
        países. Geográficamente es un territorio de extremos, poseyendo la mayor elevación del mundo en el Himalaya
        (Monte Everest) y la mayor depresión en el Mar Muerto, además de vastas mesetas como la del Tíbet y extensos
        sistemas fluviales como el Yangtsé y el Ganges. Su demografía es sumamente diversa, siendo la cuna de las
        principales religiones mundiales y presentando una mezcla de superpotencias económicas como China e India con
        naciones de gran dinamismo tecnológico y cultural.
      </p>
    </div>
    <div class="divisionRegion">
      <div class="tarjetaRegion">
        <h3>Asia Occidental</h3>
        <ul class="listaPaises">
          <li>Arabia Saudita</li>
          <li>Armenia</li>
          <li>Azerbaiyán</li>
          <li>Baréin</li>
          <li>Chipre</li>
          <li>Emiratos Árabes Unidos</li>
          <li>Georgia</li>
          <li>Irak</li>
          <li>Irán</li>
          <li>Israel</li>
          <li>Jordania</li>
          <li>Kuwait</li>
          <li>Líbano</li>
          <li>Omán</li>
          <li>Palestina</li>
          <li>Catar</li>
          <li>Siria</li>
          <li>Turquía</li>
          <li>Yemen</li>
        </ul>
      </div>

      <div class="tarjetaRegion">
        <h3>Asia central</h3>
        <ul class="listaPaises">
          <li>Kazajistán</li>
          <li>Kirguistán</li>
          <li>Tayikistán</li>
          <li>Turkmenistán</li>
          <li>Uzbekistán</li>
        </ul>
      </div>

      <div class="tarjetaRegion">
        <h3>Asia del Sur</h3>
        <ul class="listaPaises">
          <li>Afganistán</li>
          <li>Bangladés</li>
          <li>Bután</li>
          <li>India</li>
          <li>Irán</li>
          <li>Maldivas</li>
          <li>Nepal</li>
          <li>Pakistán</li>
          <li>Sri Lanka</li>
        </ul>
      </div>

      <div class="tarjetaRegion">
        <h3>Asia Oriental</h3>
        <ul class="listaPaises">
          <li>China</li>
          <li>Corea del Norte</li>
          <li>Corea del Sur</li>
          <li>Japón</li>
          <li>Mongolia</li>
          <li>Taiwán</li>
        </ul>
      </div>

      <div class="tarjetaRegion">
        <h3>Asia Sur-Este</h3>
        <ul class="listaPaises">
          <li>Brunéi</li>
          <li>Camboya</li>
          <li>Filipinas</li>
          <li>Indonesia</li>
          <li>Laos</li>
          <li>Malasia</li>
          <li>Myanmar</li>
          <li>Singapur</li>
          <li>Tailandia</li>
          <li>Timor Oriental</li>
          <li>Vietnam</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="informacionEnergia">
    <p class="tituloInformacion">Estado Indicadores</p>
    <div class="areaEnergia">
      <div class="tarjetaEnergia">
        <p class="tituloEnergia">Transición Energética Justa</p>
        <p class="parrafoEnergia">
          La región ha integrado formalmente el concepto de "Justicia e Inclusión" en sus marcos regulatorios para
          proteger a las comunidades vulnerables:Marco ASEAN 2026-2030: El nuevo Plan de Acción para la Cooperación
          Energética (APAEC) incluye por primera vez objetivos de "Transición Energética Justa e Inclusiva", centrándose
          en la creación de empleos verdes y la reconversión laboral en zonas mineras de Indonesia y Vietnam.Mecanismos
          de Transición de Energía (ETM): Liderados por el Banco Asiático de Desarrollo (ADB), se están ejecutando
          pilotos para el retiro anticipado de plantas de carbón, financiados mediante la venta de créditos de carbono y
          apoyo internacional.Enfoque en Género y Etnias: Se han lanzado programas específicos para asegurar que el
          acceso a nuevas energías renovables incluya a poblaciones rurales y grupos indígenas, promoviendo su propiedad
          sobre los proyectos.
        </p>
      </div>
      <div class="tarjetaEnergia">
        <p class="tituloEnergia">Democratización del Consumo Energético</p>
        <p class="parrafoEnergia">
          Asia está pasando de modelos centralizados a sistemas donde el usuario tiene mayor control, motivado por la
          necesidad de resiliencia ante crisis geopolíticas:Comunidades Energéticas y Autoconsumo: Países como
          Tailandia, en su Plan de Desarrollo de Energía 2026-2050, han priorizado las "iniciativas solares
          comunitarias" para reducir la dependencia de combustibles importados.Red Eléctrica de la ASEAN (APG): Se ha
          avanzado en la interconectividad transfronteriza, permitiendo que países con excedentes renovables (como Laos)
          vendan energía directamente a centros de consumo (como Singapur), democratizando el acceso a energía limpia a
          nivel regional.Digitalización del Consumo: Se están desplegando redes inteligentes y almacenamiento en
          baterías a escala doméstica en India y China para permitir que los hogares gestionen sus excedentes de energía
          solar de manera eficiente.
      </div>
      <div class="tarjetaEnergia">
        <p class="tituloEnergia">Transformación Productiva mediante Ciencia y Tecnología</p>
        <p class="parrafoEnergia">
          La región está utilizando la tecnología para desacoplar el crecimiento económico de las emisiones de
          carbono:IA y Gestión de Demanda: Ante el auge de los centros de datos (que se prevé representen el 4.5% de la
          demanda global en 2035), países como Japón e India están utilizando IA para optimizar la eficiencia de las
          redes y reducir el desperdicio energético.Clústeres Industriales de Bajas Emisiones: Se están implementando
          "clústeres industriales verdes" en el sudeste asiático que integran tecnologías de Captura y Almacenamiento de
          Carbono (CCS) y electrificación de procesos pesados para mantener la competitividad exportadora frente a
          regulaciones internacionales (como el CBAM de la UE).Liderazgo en Tecnologías Limpias: China continúa
          dominando la exportación de módulos solares y baterías, superando las exportaciones de combustibles fósiles de
          potencias tradicionales, y consolidando cadenas de suministro tecnológicas en toda la región.
      </div>
    </div>
  </section>

</main>
{% endblock %}