{% extends "base.html" %}

{% block title %}Europa{% endblock %}

{% block content %}
<main class="home">
  <section class="seccionContinente">
    <div class="tarjetaContinente">
      <div class="tituloContinente">
        <p class="textoTitulo">Continente Europeo</p>
      </div>
      <p class="parrafoContinente">
        Europa es el segundo continente más pequeño en extensión con unos 10,5 millones de km², pero uno de los más
        influyentes políticamente, albergando a 50 países y una población de aproximadamente 745 millones de personas.
        Su geografía se define por ser una gran península de la masa euroasiática con costas muy recortadas, donde
        destacan sistemas montañosos como los Alpes y los Cáucaso (donde está el monte Elbrus, su punto más alto),
        además de la gran llanura europea que facilita la agricultura. Demográficamente, es un continente con una
        población envejecida y un alto índice de desarrollo humano, donde el cristianismo es la religión predominante y
        se hablan más de 200 idiomas oficiales y regionales.
      </p>
    </div>
    <div class="divisionRegion">
      <div class="tarjetaRegion">
        <h3>Europa del Norte</h3>
        <ul class="listaPaises">
          <li>Dinamarca</li>
          <li>Estonia</li>
          <li>Finlandia</li>
          <li>Islandia</li>
          <li>Irlanda</li>
          <li>Letonia</li>
          <li>Lituania</li>
          <li>Noruega</li>
          <li>Reino Unido</li>
          <li>Suecia</li>
        </ul>
      </div>

      <div class="tarjetaRegion">
        <h3>Europa del Sur</h3>
        <ul class="listaPaises">
          <li>Albania</li>
          <li>Andorra</li>
          <li>Bosnia y Herzegovina</li>
          <li>Croacia</li>
          <li>Eslovenia</li>
          <li>España</li>
          <li>Grecia</li>
          <li>Italia</li>
          <li>Malta</li>
          <li>Montenegro</li>
          <li>Portugal</li>
          <li>San Marino</li>
          <li>Serbia</li>
          <li>Vaticano</li>
        </ul>
      </div>

      <div class="tarjetaRegion">
        <h3>Europa Central</h3>
        <ul class="listaPaises">
          <li>Alemania</li>
          <li>Austria</li>
          <li>Bélgica</li>
          <li>Francia</li>
          <li>Liechtenstein</li>
          <li>Luxemburgo</li>
          <li>Mónaco</li>
          <li>Países Bajos</li>
          <li>Suiza</li>
        </ul>
      </div>

      <div class="tarjetaRegion">
        <h3>Europa Oriental</h3>
        <ul class="listaPaises">
          <li>Bielorrusia</li>
          <li>Bulgaria</li>
          <li>Chequia</li>
          <li>Eslovaquia</li>
          <li>Hungría</li>
          <li>Moldavia</li>
          <li>Polonia</li>
          <li>Rumania</li>
          <li>Rusia</li>
          <li>Ucrania</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="informacionEnergia">
    <p class="tituloInformacion">Estado Indicadores</p>
    <div class="areaEnergia">
      <div class="tarjetaEnergia">
        <p class="tituloEnergia">Transición Energética Justa</p>
        <p class="parrafoEnergia">
          Europa utiliza el Mecanismo para una Transición Justa para asegurar que ninguna región se quede atrás,
          movilizando inversiones para diversificar economías dependientes de combustibles fósiles:Fondos de Cohesión
          Social: Se han destinado recursos masivos a la reconversión laboral de trabajadores en sectores como el carbón
          y el acero, facilitando su paso a industrias de energías limpias.Nuevas Metas de Descarbonización: En
          noviembre de 2025, el Parlamento Europeo votó para añadir un objetivo ambicioso: reducir las emisiones en un
          90% para 2040, reforzando la senda hacia la neutralidad climática en 2050.Independencia Energética: El plan
          REPowerEU se ha acelerado para eliminar la dependencia de los combustibles rusos, priorizando el ahorro
          energético y el despliegue de infraestructuras sostenibles.
        </p>
      </div>
      <div class="tarjetaEnergia">
        <p class="tituloEnergia">Democratización del Consumo Energético</p>
        <p class="parrafoEnergia">
          La legislación europea ha evolucionado para situar al ciudadano en el centro del sistema, fomentando su
          participación activa:Comunidades Energéticas (CE): Basadas en las directivas 2018/2001 y 2019/944, se
          promueven estas figuras para que los ciudadanos produzcan, consuman y compartan energía renovable localmente,
          priorizando beneficios sociales sobre financieros.Eficiencia en Edificios (EPBD): La Directiva de Eficiencia
          Energética de los Edificios (UE 2024/1275) exige que todos los edificios nuevos sean cero emisiones para 2030,
          incluyendo incentivos para que hogares vulnerables reduzcan sus facturas mediante rehabilitaciones
          energéticas.Metas de Consumo: Para 2024, la cuota de renovables alcanzó el 25,2%, con un objetivo vinculante
          de al menos el 42,5% para 2030.
      </div>
      <div class="tarjetaEnergia">
        <p class="tituloEnergia">Transformación Productiva mediante Ciencia y Tecnología</p>
        <p class="parrafoEnergia">
          La innovación es el motor para reindustrializar Europa de forma sostenible y competitiva:Horizonte Europa
          2026-2027: La Comisión Europea adoptó un programa de trabajo con una inversión de 14.000 millones de euros.
          Este fondo se enfoca en descarbonización, Inteligencia Artificial aplicada a la investigación y resiliencia
          social.Soberanía Tecnológica: Se financian proyectos en áreas estratégicas como computación cuántica, redes
          futuras, fotónica y robótica para asegurar que Europa lidere el mercado global de tecnologías
          limpias.Digitalización Verde: Los programas buscan alinear la transformación digital con la neutralidad
          climática, apoyando a las empresas en el cambio hacia modelos de negocio circulares y de bajas emisiones.
      </div>
    </div>
  </section>

</main>
{% endblock %}