{% extends "base.html" %}

{% block title %}Transformación Energética{% endblock %}

{% block content %}
<main class="home">
  <!-- HERO -->
  <section class="seccionTitulo">
    <div class="areaTitulo">
      <p class="textoTituloinicio">Los Países y su Transición Energética</p>
      <p class="textoSubtitulo">Un vistazo al estado actual</p>
    </div>
  </section>

  <section>
    <div class="seccionInicio">
      <p class="parrafoInicio">
        Los países nórdicos lideran, pero los mayores avances se producen en otros lugares
        Aunque 76 de los 118 países mejoraron sus puntuaciones, las economías avanzadas siguen liderando la transición
        energética global, con 16 entre los 20 primeros puestos. Al igual que en informes anteriores, los países
        nórdicos (Suecia, Finlandia, Dinamarca y Noruega) encabezan la clasificación, pero también se está generando
        impulso en
        otros lugares. China y Estados Unidos mejoraron sus puntuaciones, en gran medida gracias al apoyo normativo,
        incluida
        la primera ley nacional sobre energía de China, que entró en vigor en enero de 2025. Sin embargo, en el caso
        de
        Estados Unidos, la pregunta es cuánto se podrá mantener el impulso, teniendo en cuenta los recortes en las
        políticas
        oficiales de apoyo a las energías limpias.
      </p>


      <!-- CARRUSEL DE IMAGENES -->
      <p class="textoSubtitulo"> << Indicadores Mundiales >></Indicadores></p>
      <div class="areaGraficos">
        <div id="carouselExample" class="carousel slide carrusel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100 graficoMapa" src="{{ url_for('static', filename='img/grafico1.avif') }}">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100 graficoMapa" src="{{ url_for('static', filename='img/grafico2.avif') }}">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100 graficoMapa" src="{{ url_for('static', filename='img/grafico3.png') }}">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100 graficoMapa" src="{{ url_for('static', filename='img/grafico4.png') }}">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100 graficoMapa" src="{{ url_for('static', filename='img/grafico5.png') }}">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100 graficoMapa" src="{{ url_for('static', filename='img/grafico6.png') }}">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100 graficoMapa" src="{{ url_for('static', filename='img/grafico7.png') }}">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100 graficoMapa" src="{{ url_for('static', filename='img/grafico8.png') }}">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next"  type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

  </section>

  <!-- TARJETAS CONTINENTES -->
  <section class="tarjetasContinentes">
    <p class="tituloContinente">Continentes</p>
    <div class="card-container">
      <a class="enlace" href="/america">
        <div class="card">
          <img src="{{ url_for('static', filename='img/america.jpg') }}">
          <h3 class="textoContinente" >América</h3>
          <p class="parrafoContinente">
            América es el segundo continente más grande del mundo, con una extensión aproximada de 42,5 millones de km²
            y compuesto por 35 países soberanos. Se caracteriza por su gran desarrollo latitudinal, extendiéndose desde
            el Ártico hasta el Antártico, lo que le otorga una diversidad climática y biológica única que incluye desde
            desiertos y selvas tropicales como el Amazonas, hasta grandes cordilleras como los Andes y las Rocosas. <br>
            Culturalmente es un crisol de herencias indígenas, europeas y africanas, con una economía marcada por el
            contraste entre potencias industrializadas y naciones en desarrollo ricas en recursos naturales.
          </p>
        </div>
      </a>
      <a class="enlace" href="/europa">
        <div class="card">
          <img src="{{ url_for('static', filename='img/europa.jpg') }}">
          <h3 class="textoContinente">Europa</h3>
          <p class="parrafoContinente">
            Europa es el segundo continente más pequeño en términos de superficie, con aproximadamente 10,5 millones de
            km², pero es uno de los más densamente poblados y políticamente complejos, albergando a 50 países soberanos.
            <br>
            Se caracteriza por ser una gran península fragmentada en otras menores, con un relieve predominantemente
            llano en el centro y sistemas montañosos como los Alpes en el sur, disfrutando en su mayor parte de un clima
            templado. Históricamente, ha sido el núcleo de la cultura occidental, destacando por su alto nivel de
            desarrollo económico, su rica herencia arquitectónica y el proceso de integración política y comercial
            representado por la Unión Europea.
          </p>

        </div>
      </a>

      <a class="enlace" href="/asia">
        <div class="card">
          <img src="{{ url_for('static', filename='img/asia.jpg') }}">
          <h3 class="textoContinente">Asia</h3>
          <p class="parrafoContinente">
            Asia es el continente más grande y poblado del mundo, con una extensión de aproximadamente 44,5 millones de
            km² y conformado por 49 países soberanos. Se caracteriza por su extrema diversidad geográfica, albergando
            tanto el punto más alto del planeta (el monte Everest) como el más bajo (el Mar Muerto), además de climas
            que van desde el ártico siberiano hasta las selvas tropicales del sudeste asiático.<br>
            Es la cuna de las civilizaciones más antiguas y de las principales religiones mundiales, destacando hoy como
            un motor económico global liderado por potencias como China, India y Japón, en un entorno de enorme
            pluralidad cultural, lingüística y religiosa.
          </p>
        </div>
      </a>

      <a class="enlace" href="/africa">
        <div class="card">
          <img src="{{ url_for('static', filename='img/africa.jpg') }}">
          <h3 class="textoContinente">África</h3>
          <p class="parrafoContinente">
            África es el tercer continente más extenso del mundo, con una superficie de aproximadamente 30,3 millones de
            km² y compuesto por 54 países soberanos. Se caracteriza por ser el continente con mayor diversidad étnica y
            lingüística, albergando el desierto más cálido del planeta (el Sáhara) y la cuenca del río Nilo.<br>
            Su relieve es predominantemente de mesetas, con ecosistemas icónicos como la sabana y la selva tropical;
            además, posee la población más joven del mundo y una economía en crecimiento basada en vastos recursos
            naturales, aunque enfrenta importantes retos en infraestructura y desarrollo social.
          </p>
        </div>
      </a>

      <a class="enlace" href="/oceania">
        <div class="card">
          <img src="{{ url_for('static', filename='img/oceania.jpg') }}">
          <h3 class="textoContinente">Oceanía</h3>
          <p class="parrafoContinente">
            Oceanía es el continente más pequeño del mundo, con una extensión de aproximadamente 8,5 millones de km² y
            compuesto por 14 países independientes. Se caracteriza por ser un continente insular distribuido por el
            Océano Pacífico, donde destaca la masa continental de Australia junto a archipiélagos como Nueva Zelanda,
            Melanesia, Micronesia y Polinesia.<br>
            Su geografía combina paisajes desérticos, selvas tropicales y atolones coralinos de gran biodiversidad
            marina, mientras que su cultura es una mezcla de tradiciones aborígenes milenarias e influencias coloniales,
            con economías que varían desde el alto desarrollo industrial australiano hasta el turismo y la pesca en las
            naciones más pequeñas.te insular y marítima, con una densidad
            de población muy baja y una biodiversidad única en el planeta.
          </p>
        </div>
      </a>

    </div>
  </section>
</main>

{% endblock %}