{% extends "base.html" %}

{% block title %}Oceanía{% endblock %}

{% block content %}
<main class="home">
  <section class="seccionContinente">
    <div class="tarjetaContinente">
      <div class="mapaContinente">
        <img src="{{ url_for('static', filename='img/mapaoceania.jpg') }}">
      </div>
      <div class="tituloContinente">
        <p class="textoTitulo">Continente Oceánico</p>
      </div>
      <p class="parrafoContinente">
        Oceanía es el continente más pequeño y disperso del planeta, con una extensión terrestre de 8,5 millones de km²
        compuesta por 14 países, entre los que destaca Australia por su tamaño continental. Su población es la menor de
        los continentes habitados, con cerca de 43 millones de personas, concentradas mayoritariamente en zonas
        costeras. Geográficamente, está formado por miles de islas repartidas por el Océano Pacífico, variando desde el
        desértico Outback australiano y los glaciares neozelandeses hasta los atolones coralinos de la Polinesia y
        Micronesia. Demográficamente, presenta un contraste entre sociedades altamente desarrolladas de origen colonial
        y culturas indígenas milenarias con una rica tradición marítima y lingüística.
      </p>
    </div>
    <div class="divisionRegion">
      <div class="tarjetaRegion">
        <h3 class="tituloRegion">Australasia</h3>
        <ul class="listaPaises">
          <li>Australia</li>
          <li>Nueva Zelanda</li>
        </ul>
      </div>

      <div class="tarjetaRegion">
        <h3 class="tituloRegion">Melanesia</h3>
        <ul class="listaPaises">
          <li>Fiyi</li>
          <li>Islas Salomón</li>
          <li>Papúa Nueva Guinea</li>
          <li>Vanuatu</li>
        </ul>
      </div>

      <div class="tarjetaRegion">
        <h3 class="tituloRegion">Micronesia</h3>
        <ul class="listaPaises">
          <li>Estados Federados de Micronesia</li>
          <li>Islas Marshall</li>
          <li>Kiribati</li>
          <li>Nauru</li>
          <li>Palaos</li>
        </ul>
      </div>

      <div class="tarjetaRegion">
        <h3 class="tituloRegion">Polinesia</h3>
        <ul class="listaPaises">
          <li>Samoa</li>
          <li>Tonga</li>
          <li>Tuvalu</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="informacionEnergia">
    <p class="tituloInformacion">Indicadores Continente</p>
    <div class="areaEnergia">
      <div class="tarjetaEnergia">
        <p class="tituloEnergia">Transición Energética Justa</p>
        <p class="parrafoEnergia">
          La región está equilibrando su rol como gran exportador de energía fósil con la protección de las comunidades
          locales:Net Zero Plan (Australia): El gobierno australiano ha lanzado su Plan Net Zero que establece una hoja
          de ruta multisectorial para alcanzar la neutralidad en 2050, con una meta intermedia de reducir emisiones
          entre un 62-70% para 2035.Autoridad de la Economía Net Zero: Se ha consolidado la Net Zero Economy Authority
          (creada por ley en 2024), la cual facilita la reconversión de regiones mineras y asegura que los beneficios
          económicos de la transición lleguen a los trabajadores del sector fósil.Liderazgo del Pacífico: Países como
          Vanuatu y Fiji, a través del Ki Mua: Just Transition for the Pacific, exigen un abandono global de los
          combustibles fósiles y han co-organizado conferencias internacionales (como el Global Sustainable Island
          Summit 2026) para movilizar financiamiento climático justo hacia las islas.
        </p>
      </div>
      <div class="tarjetaEnergia">
        <p class="tituloEnergia">Democratización del Consumo Energético</p>
        <p class="parrafoEnergia">
          Oceanía está transformando su red eléctrica para integrar masivamente el aporte de los ciudadanos:Recursos
          Energéticos del Consumidor (CER): Australia ha integrado paneles solares domésticos, baterías hogareñas y
          vehículos eléctricos como piezas centrales de su red. Según el Operador del Mercado Energético (AEMO), la
          coordinación de baterías domésticas podría ahorrar a los consumidores 4.100 millones de dólares en costos de
          infraestructura.Proyectos Comunitarios en el Pacífico: Iniciativas como el Vanuatu Green Transformation
          Project han implementado sistemas pico-hidroeléctricos gestionados por la comunidad, permitiendo que aldeas
          aisladas tengan energía propia para servicios básicos y nuevos negocios.Soberanía Energética: Islas como las
          Cook han vinculado su seguridad económica a la transición, con la meta de alcanzar un 60% de energía renovable
          para 2030 basada en generación solar distribuida.
      </div>
      <div class="tarjetaEnergia">
        <p class="tituloEnergia">Transformación Productiva mediante Ciencia y Tecnología</p>
        <p class="parrafoEnergia">
          La innovación científica se está utilizando para crear nuevas industrias competitivas:Geotermia Supercrítica:
          Nueva Zelanda está invirtiendo en el proyecto "Deep Heat", que busca perforar a 4.5 km de profundidad para
          acceder a fluidos supercríticos (más de 374°C), lo que podría generar hasta cuatro veces más energía que la
          geotermia convencional.Futuro "Hecho en Australia": A través del Future Made in Australia Act, el gobierno
          fomenta inversiones privadas masivas en hidrógeno verde y minerales críticos (litio, cobalto) necesarios para
          la cadena global de baterías.Foro de Innovación del Pacífico 2026: El PIFCE 2026 en Vanuatu funciona como un
          hub regional para acelerar el uso de IA y soluciones tecnológicas locales adaptadas a la resiliencia climática
          y el desarrollo bajo en carbono.
      </div>
    </div>
  </section>

</main>
{% endblock %}